body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: royalblue;
    margin: 0;
    padding: 0;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid black
}

#banner {
    background-color: dodgerblue;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid black;
    background-color: dodgerblue;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: dodgerblue;
    
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}